<div class="container">
  <% if params[:search].present? %>
    <% provide(:title, "「#{params[:search]}」の検索結果")  %>
  <% end %>
  <div class="row">
      <%= render "layouts/review_index", reviews: @reviews %>
    </div>
  </div>
  <%= paginate @reviews %>
</div>