<div class="top text-center">
  <div class="contents center">
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col mx-auto">
      <div class="title-rev">最新のレビュー投稿</div>
        <%= render "layouts/review_index", reviews: @reviews %>
      </div>
    </div>
</div>
