<%= link_to(notifications_path, class: "dropdown-item") do %>
通知
  <% if unchecked_notifications.any? %>
    <span class="fa-stack">
      <i class="fal fa-comment-exclamation"></i>
    </span>
  <% else %> 
    <i class="fa fa-bell-o"></i>
    <% end %>
<% end %>