<div class="container">  
  <div class="row">
    <div class = "col s12 m12 l4">
      <div class="card large #fffde7 yellow lighten-5">
        <div class="card-image waves-effect waves-block waves-light">
          <h2>語学学校リスト</h2>
        </div>
            <ul class="slides">
            <div class="slides-image">
              <%= image_tag("slide.jpg") %>
            </div>
          </ul>
       </div> 
    </div> 
  </div>  
</div>  