<div class="slider">

  <div class="slider-text flow-text">
    <h2>語学学校リスト</h2>
  </div>

    <ul class="slides">
      <div class:="slides-image">
       <%= image_tag("slide.jpg") %>
      </div>
    </ul>
    
</div>  