/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap";
@import "static_pages";

body{
  background-color: #F0F8FF;
 }

 //ナビゲーションバー
 .navbar {
  padding: 0.01rem 5rem 0.01rem 1rem;
}

.nav-rev-btn{
  margin: 3px 10px 0px 0px;
  font-weight: bold;
} 
.navbar .navbar-expand {
  padding: 0.5rem 0.5rem;
  font-size: large;
}
.navbar .navbar-expand1 {
  padding: 0.5rem 1.5rem;
  font-size: large;
}

.nav-item{
  margin: 3px 10px 0px 0px;
}


//タイトル
.title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.title-sign {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color:gray;
}

//schools index.html.erbのカードのタイトル
.title-school-index {
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 10px;
  color:gray;
}

//schools index.html.erbのカードのレビュー件数
.school-card-text {
  color:gray;
  position: absolute;
  bottom: 5px;
  right:20px;
}
.card-text{
  color:gray;
}

.card-text-user{
  font-size: 1.2rem;
}

.title-h1 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: gray;
}

.title-rev {
  font-size: 2rem;
  color:gray;
  font-weight: bold;
  text-align: left;
  padding-top: 30px;
}

.title-school {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  color:gray;
}

// Signin, Signup photo
#signup-form, #login-form {
  width: 100%;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #CEDFF2;
  border-radius: 5px;
}

.login-modal-wrapper,
.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #CEDFF2;
  z-index: 100;
  display: none;
}

.log-modal {
  position: absolute;
  top: 5%;
  left: 34%;
  background-color: #CEDFF2;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.cp_cssslider2 {
	width: 300px;
	height: auto;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item2 {
	width: 300px;
	height: auto;
	float: left;
	position: relative;
}

//サムネ写真
.slide {
  object-fit:fill;
  position: relative;
  left:100px;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
@keyframes slideshow{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  45%{
    opacity: 1;
  }
  55%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0;
  animation :slideshow 16s linear infinite;
}
.slide img:nth-child(2){
  animation-delay: 4s;
}
.slide img:last-child{
  animation-delay: 8s;
}

// review card 
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 450px;
}

.card-title{
  color:gray;
  font-size: 1.5rem;
  font-weight:bold;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.rev-card {
  margin: 0.25em 0;
  background: #D7EEFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.rev-card-school-details{
  margin: 0.25em 0;
  background: #D7EEFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.rev-card-school-details-map{
  margin: 0.25em 0;
  background: #D7EEFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  height: 450px;
}

.rev-card .rev-card-title {
  padding: 0.2em 0.5em;
  margin: 1em 0;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 1px;
}
.rev-card p {
  padding: 15px 20px;
  margin: 0;
}

.rev-card h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.card-time {
  position: absolute;
  bottom: 5px;
  right:20px;
}

.card-tag {
position:absolute;
padding: 15px 0px;
}

.btn-back {
  margin-top: 2em;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: gray;
  transition: .4s;
  width: 80px;
  height: 40px;
  text-align: center;
}
.btn-back:hover {
  color: #BAD3FF;
}

.btn-new-review{
    width: auto;
    height: 50px;
    padding: 11px 8px;
    background-color: #13A3B8;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    float:left;
    bottom: 10px;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}


.btn-new-review-show{
  width: 400px;
  height: 50px;
  padding: 11px 8px;
  margin: 20px 0px;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #13A3B8;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  float:left;
}

.card-img-top{
  object-fit:fill;
  width:318px;
  height:auto;
  border-radius: 0px;
}

//tag
.tag_card {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	top: 50%;
	left: 50%;
}


.tag_card li {
	display: inline-block;
}
.tag_card a {
	line-height: 26px;
	position: relative;
	display: inline-block;
	height: 26px;
	margin: 0 0px 10px 10px;
	padding: 0 20px 0 23px;
	-webkit-transition: color 0.2s;
	        transition: color 0.2s;
	text-decoration: none;
	color: white;
	border-radius: 0 3px 3px 0;
	background: #75A9FF;
}

.tag_card a::before {
	position: absolute;
	top: 10px;
	left: 3px;
	width: 6px;
	height: 6px;
	content: '';
	border-radius: 10px;
}
.tag_card a::after {
	position: absolute;
	top: -1px;
	left: -6px;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
	border-width: 14px 8px 14px 0;
	border-color: transparent #75A9FF transparent transparent;
	border-radius: 4px;
}
.tag_card a:hover {
	background: #BAD3FF;
}
.tag_card a:hover:after {
	border-color: transparent #BAD3FF transparent transparent;
}

// プロフィール

.profile-card{
  border-radius: 1em;
  margin: 0 auto;
  width: 100%;
  max-width:500px;
  position: relative;
  background: #fff; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
}

.profile-card:before{
  width:120%;
  height:100px;
  position:  absolute;
  top:-8%;
 }  

 .profile-card__inner{
  position: relative;
 }

 .profile-thumb{
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: #fff 5px solid;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #fff;
}
  
 .profile-thumb img{
     display: block;
     width: 100%;
     height: auto;
 }
 
 .profile-content{
   padding: 15px;
 }

 .profile-name{
   font-size: 20px;
   margin-bottom: 3px;
   font-weight: bold;
   text-align: center;
   display: block;
 }
 
 .profile-job{
   margin-bottom: 10px;
   color: #ccc;
   font-size: 17px;
   text-align: center;
   font-weight: bold;
 }
 
 .profile-intro-box{
   width: auto;
   height: 25px;
   margin: 5px 5px;
 }
 
 
 .profile-intro {
   float: right;
 }
 
 .profile-details{
   margin: 0 36%;
   font-weight: bold;
   color: #7b7b7b;
 }

 //コメント
 #comments_area {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0.5em 0em 0.5em 0em;
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}

.comments_title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.comment-area {
  width: auto;
  margin: 0.5em 1em 0.5em 1em;
  height: auto;
}
.my-comment-area {
  width: auto;
  margin: auto;
  height: auto;
}



.comment-destroy {
  float: right;
  font-size: 20px;
}

.comment-user {
  padding: 0px 0px 0px 3px;
}
.my-comment-user {
  padding: 0px 0px 0px 3px;
}

.my-comment-user-name {
  text-align: right;
}

.btn-comment{
  width: 300px;
  height: 50px;
  padding: 5px 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #11A4B8;
  font-size: 20px;
  color: #fff;
}
.btn-comment:active{
  border-bottom: none;
  background-color: #888;
}


//いいね
.like {
  margin-top: 2em;
  border-radius: 1em;
}

.review-form {
  position: relative;
  padding: 0.5em 1em;
  background-color: white;
  height:auto;
  width:auto;
}

//カテゴリ
.category-form {
  position: relative;
  margin-top: 4em;
  padding: 0.5em 1em;
  background-color: white;
  height:auto;
  width:auto;
}
.category-form .category-form-title {
  position: absolute;
  display: inline-block;
  top: -23px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 20px;
  color: gray;
  font-weight: bold;
}
.category-form p {
  margin: 0;
  padding: 0;
}
.category-area {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
}
.category-area .category-area-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 16px;
  color: #13A3B8;
  font-weight: bold;
}
.category-area p {
  margin: 0;
  padding: 0;
}

//image

img {
  border-radius: 5px;
}

//sign_up
#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.form-ctl {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}


//ボタン

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #13A3B8;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.guest-submit-btn {
  display: inline-block;
  padding: 8px 45px;
  background-color: #5d98ca;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

#twitter-submit-btn {
  display: inline-block;
  padding: 8px 45px;
  background-color: #1DA1F2;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  font-size: 12px;
}

.btn-submit{
  width: 300px;
  height: 50px;
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #11A4B8;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.btn-submit:active{
  border-bottom: none;
  background-color: #888;
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}

.btn-submit-account{
  width: 200px;
  height: 50px;
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #13A3B8;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.btn-submit-account:active{
  border-bottom: none;
  background-color: #888;
}

//box
.box24 {
  border-radius: 1em;
  max-width: max-content;
  width: 80%;
  height: auto;
  position: relative;
  padding: 0.5em 0.7em;
  margin: 1em 0;
  background: #d8d8d8;
  color: #3a3a3a;
  font-size: 13px;
}
.box24:after {
  position: absolute;
  content: '';
  top: 97%;
  left: 14px;
  border: 15px solid transparent;
  width: 0;
  height: 0;
}
.box24 p {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
.my-box24 {
  border-radius: 1em;
  max-width: max-content;
  width: 80%;
  height: auto;
  position: relative;
  padding: 0.5em 0.7em;
  margin: 1em 0 1em auto;
  background: #C2EEFF;
  color: #3a3a3a;
  font-size: 13px;
}
.my-box24:after {
  position: absolute;
  content: '';
  top: 97%;
  right: 22px;
  border: 15px solid transparent;
  width: 0;
  height: 0;
}
.my-box24 p {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}


//検索バー
.search-bar1 {
  color: gray;
  position: relative;
  width: 80%;
  margin: 25px 16px;
}

.search-bar1 input[type='text'] {
  width: 100%;
  text-indent: 0.03px;
  font-size: 16px;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: gray;
  border: none;
  border-bottom: 2px solid #CEDFF2;
  background: transparent;
}

.search-bar1.col-md-4 {
  max-width: 300px;
  min-width: 300px;
}

.search-bar2 {
  overflow: hidden;
  margin: 1em 1em;
  text-align: center;
  height: 45px;
}

.search-bar2 select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.search-bar2 select::-ms-expand {
  display: none;
}
.search-bar2.search-option {
  position: relative;
  border-bottom: 2px solid #CEDFF2;
}

.search-bar2.search-option::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #CEDFF2;
  pointer-events: none;
}
.search-bar2.search-option select {
  padding: 8px 38px 8px 8px;
  color: gray;
}

.search-bar2.search-option.col-md-4 {
  max-width: 300px;
  min-width: 300px;
}

.btn-search-area {
  margin: 20px 32px;
}

.slider-text{
  position: absolute;
  z-index: 5;
  top: 55%;
  right: 45%;
  color: white;
}

.slides-image{
  position: relative;
  opacity: 0.7;
  width:100%;
}

.slides-text{
  color: white;
  opacity: 0.7;
  position: absolute;
  right: 0;
  bottom: 0;
}

// kaminariのページネーション

.kaminari_paginate {
  margin-top: 3em;
  margin-bottom: 3em;
}

.pagination {
  margin-top: 3em;
  margin-bottom: 3em;
}



//reviews index.html.erbのタグ
.icon-link {
  font-size: 10 px;
  color: green;
}

.icon-link:hover {
  color: #BAD3FF;
}

.hidden_box label {
  cursor :pointer;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

#label1 {
  display: none;
}

.keyword-search{
  color:#047BFE;
  font-weight: bold;
  font-size: large;
}

.label-font {
  font-size: 20px;
  color: gray;
  font-weight: bold;
}

.label-font-account {
  font-size: １0px;
  color: gray;
  font-weight: bold;
}

.btn-flat-simple {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  background: #ffffff;
  transition: .4s;

  &:hover {
    color: #BAD3FF;
  }

}

.box26 {
  position: relative;
  margin: 1em 60px;
  padding: 0.5em 1em;
  border: solid 1px #C2EEFF;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #C2EEFF;
  font-weight: bold;
}
.box26 p {
font-size: 15px;
margin: 5px 0 0 0;
color: #7b7b7b;
}

.btn-edit{
  border-radius: 1em;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: gray;
  background: #C2EEFF;
  transition: .4s;
}
.btn-edit:hover {
  color: #BAD3FF;
}

.btn-destory{
  border-radius: 1em;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: gray;
  background: #C2EEFF;
  transition: .4s;
}
.btn-destory:hover {
  color: #BAD3FF;

}

//googlemap
#map {
  height: 400px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left; 
  margin-bottom: 40px;
}

.cover-img {
	height: 250px;
	display: table;
	width: 100%;
	background-size: cover;
}

@media screen and (max-width:639px) {
  /*スマホ用のcssを記述*/
    .log-modal {
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: #e6ecf0;
        padding: 20px 0 40px;
        border-radius: 10px;
        width: 450px;
        height: auto;
        text-align: center;
    }
  }
  
  @media only screen and (min-width:640px) and (max-width:1023px) {
  /*tablet用のcssを記述*/
    .log-modal {
        position: absolute;
        top: 5%;
        left: 15%;
        background-color: #e6ecf0;
        padding: 20px 0 40px;
        border-radius: 10px;
        width: 450px;
        height: auto;
        text-align: center;
    }
  }
  
  @media screen and (min-width:1024px) {
  /*pc用のcssを記述*/
    .log-modal {
        position: absolute;
        top: 5%;
        left: 34%;
        background-color: #e6ecf0;
        padding: 20px 0 40px;
        border-radius: 10px;
        width: 450px;
        height: auto;
        text-align: center;
    }
  }



.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

#error_explanation {
  color: black;
  background-color: red;
  ul {
    color: black;
    margin: 0 0 30px 0;
  }
}

.alert {
  background-color: red;
}

//start画面
.top{
  background-image: url(/images/slide8.png);
  background-size: cover;
  background-position: center;
  min-height: 95vh;
  width: 100%;
  position: relative;
}

.top2{
  background-image: url(/images/slide6.jpg);
  background-color:rgba(255,255,255,0.3); 
  background-blend-mode:lighten;
	height: 250px;
	display: table;
	width: 100%;
	background-size: cover;
}
@media only screen and (min-width: 1500px) {
	.top2 {
		height: 250px;
	}
}



.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: #00ECFF;
    padding: 0.75rem 1.25rem;
  }

  .alert {
    background-color: #ff5e5e;
  }
}