<p>こんにちは！ <%= @resource.email %></p>

<p>以下のリンクにアクセスし、パスワードを変更してください。</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>このメールについて身に覚えのない場合は、速やかに破棄ください。</p>