<p>こんにちは！ <%= @resource.email %></p>

<p>誤ったパスワードにより複数回ログインがなされたため、安全性を考慮しお客様のアカウントを凍結しております。</p>

<p>以下のURLをクリックして凍結を解除していただきますようよろしくお願いします。</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
