<div class="cp_cssslider2">
  <% review.review_images.each do |image| %>
    <div class="cp_slide_item2">
      <%= attachment_image_tag review.review_images.first, :image, :fill, 300, 200 %>
    </div>
  <% end %>
</div>