<% provide(:title, "「#{params[:search]}」の検索結果")  %>
<div class="container">
  <%= link_to reviews_index_path, class:"btn-back" do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
<% end %>
  <div class="row">
    <div class="col-md-12">
      <h1 class="title-h1">「<%= "#{params[:search]}" %>」の検索結果</h1>
      <%= render "layouts/review_index", reviews: @reviews %>
    </div>
  </div>
  <%= paginate @reviews %>
</div>