<footer class="footer">
  Copyright © since 2020 <a href="https://local-plan.com/">Local Plan</a> All Rights Reserved.
  <nav>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      Contact: 
      <%= mail_to 'y.aoki.job@gmail.com', 'y.aoki.job@gmail.com', :encode => 'hex' %>
  </nav>
</footer>
